*~
\#*\#
stdout
*.eprj
*.svn
*.pyc
*.pyo
*.orig
*.o
*.so
*.class
*.dmg
*.jar
.DS_Store
.password
npm-debug.log
Procfile

*.doc
*.docx

bin/
local/bin/
#!local/bin/some-custom-shit-*
local/bin/memcached
local/bin/elasticsearch
build/
dist/
etc/ipython/
sdist/
include/
local/include/
lib/
local/lib/
!local/lib/python2.7/
man/
share/
src/
var/cache/
var/logs/
var/run/
var/tmp/
!var/db/
!var/json/
!var/web/
var/web/face/downloads/

